<% titulo = "Finalizar Compra" %>

<div class="principalF " class="container-fluid">
    <div class="modal fade" id="janelaResultado" tabindex="-1" role="dialog" aria-labelledby="janelaResultado"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Finalizando Pedido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="mensagemResultado"> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">

            <div id="esqCheckout">
                <!-- <p class="caminhoPaginas"><a href="/">Home</a> > <a href="/produto">Produtos</a> > <b> Finalizar Pedido</b></p> -->
                <nav class="caminhoPaginas" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/produto">Produtos</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Finalizar Compra</li>
                    </ol>
                </nav>
                <h3>Endereço de Entrega</h3>
                <form id="form">
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="nome_cliente">Nome Completo</label>
                                <input type="text" id="nome_cliente" name="nome_cliente" class="form-control"
                                    placeholder="nome completo" value="<%= cliente ? cliente.nome_cliente:'' %>"
                                    aria-label="nome completo" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" class="form-control" placeholder="email"
                                    aria-label="email" value="<%= cliente ? cliente.email:'' %>"
                                    aria-describedby="addon-wrapping">
                            </div>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="cep_cliente">CEP</label>
                                <input type="text" id="cep_cliente" name="cep_cliente" class="form-control"
                                    placeholder="CEP" aria-label="CEP" value="<%= cliente ? cliente.cep_cliente:'' %>"
                                    aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="rua_cliente">Rua</label>
                                <input type="text" id="rua_cliente" name="rua_cliente" class="form-control"
                                    placeholder="rua" aria-label="rua" value="<%= cliente ? cliente.rua_cliente:'' %>"
                                    aria-describedby="addon-wrapping">
                            </div>
                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="num_casa">N°</label>
                                <input type="text" id="num_casa" name="num_casa" class="form-control" placeholder="n°"
                                    aria-label="número Casa" value="<%= cliente ? cliente.num_casa:'' %>"
                                    aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="bairro_cliente">Bairro</label>
                                <input type="text" id="bairro_cliente" name="bairro_cliente" class="form-control"
                                    placeholder="bairro" aria-label="bairro"
                                    value="<%= cliente ? cliente.bairro_cliente:'' %>" aria-describedby="addon-wrapping">
                            </div>
                        </div>


                    </div>
                    <div class="row mt-3">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="complemento">Complemento</label>
                                <input type="text" id="complemento" name="complemento" class="form-control"
                                    placeholder="complemento" aria-label="complemento"
                                    value="<%= cliente ? cliente.complemento:'' %>" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cidade_cliente">Cidade</label>
                                <input type="text" id="cidade_cliente" name="cidade_cliente" class="form-control"
                                    placeholder="cidade" aria-label="cidade"
                                    value="<%= cliente ? cliente.cidade_cliente:'' %>" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="estado_cliente">Estado</label>
                                <select id="estado_cliente" name="estado_cliente" class="form-control">
                                    <option selected>Estado</option>
                                    <option>SP</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-end ">
                        <button type="button" onclick="window.location.href='/produto'"
                            class="btn btn-light px-5 mt-4">cancelar</button>
                        <button type="submit" class="btn btn-success px-5 mt-4">finalizar</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="col-lg-6">
            <div id="dirCheckout">
                <h3>Resumo do pedido</h3>
                <div id="listaPedido"></div>
                <div class="h3 text-center pt-3">Total: <span id="totalp"></span></div>
            </div>
        </div>

    </div>
</div>



<%- contentFor("scripts") %>
<script type="text/javascript">
    listarPedido();

    var redirAoFechar = false;

    $('#janelaResultado').on('hidden.bs.modal', function (e) {
        if (redirAoFechar)
            window.location.href = '/';
    });

    $("#form").validate({
        rules: {
            nome_cliente: {
                required: true,
                minlength: 3,
                maxlength: 40
            },

            email: {
                required: true,
                minlength: 10,
                email: true
            },
            cep_cliente: {
                required: true,
                minlength: 8,
                maxlength: 8
            },
            bairro_cliente: {
                required: true,
                minlength: 3,
                maxlength: 45
            },
            rua_cliente: {
                required: true,
                minlength: 3,
                maxlength: 45
            },
            num_casa: {
                required: true,
                minlength: 1,
                maxlength: 30
            },
            complemento: {
                required: false,
                maxlength: 45
            },
            cidade_cliente: {
                required: true,
                minlength: 2,
                maxlength: 45
            },
            estado_cliente: {
                required: true
            }

        },
        submitHandler: function () {
            let carrinho = shoppingCart.listCart();
            let produtos = [];
            for (let i in carrinho) {
                produtos.push({
                    id_produto: (carrinho[i].id),
                    qtde: (carrinho[i].qtd)
                });
            }

            let pedido = {
                cliente: {
                    nome_cliente: $("#nome_cliente").val(),
                    email: $("#email").val(),
                    cep_cliente: $("#cep_cliente").val(),
                    bairro_cliente: $("#bairro_cliente").val(),
                    rua_cliente: $("#rua_cliente").val(),
                    num_casa: $("#num_casa").val(),
                    complemento: $("#complemento").val(),
                    cidade_cliente: $("#cidade_cliente").val(),
                    estado_cliente: $("#estado_cliente").val()
                },
                produtos: produtos
            };

            let opcoes = {
                url: "/api/pedido/criar",

                method: "POST",

                data: JSON.stringify(pedido),
                processData: false,
                contentType: "application/json",

                success: function (dadosDeRetorno) {

                    let campo = document.getElementById("mensagemResultado");
                    campo.textContent = $("#nome_cliente").val() + ", seu pedido foi finalizado com sucesso!";
                    $('#janelaResultado').modal('show');
                    
                    redirAoFechar = true;
                    shoppingCart.clearCart();
                    displayCart();
                    attCartIten();

                },
                error: function () {
                    
                    let campo = document.getElementById("mensagemResultado");
                    campo.textContent = "Ops... ocorreu algum erro.";
                    $('#janelaResultado').modal('show');
                }
            };
            $.ajax(opcoes);
        }
    });

</script>
