
	<!-- <div id="banner1" class="principalP container-fluid ">
         <div id="textoBanner" class=" ">
            <h1 class="p-1">Produtos 100% naturais</h1>
            <p>produção caseira, ingredientes naturais e plastic free</p>
        </div> 
	</div>
	 -->
	<div class="principalP container-fluid ">
        <div id="textoBanner" >
            <h1 class="p-1 ">Produtos 100% naturais</h1>
            <p>produção artesanal, ingredientes naturais e plastic free</p>
        </div>
	</div>
	
    <!-- <nav id="subMenu">
        <ul class="nav justify-content-end mr-4">
            <li class="nav-item">
              <a class="nav-link active" href="#">Filtrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ordenar</a>
            </li>
        </ul>
	</nav> -->

	<div class="principalP2">
		<ul id="produtos" class="" style="padding: 10px; ">
		
			<!-- colocando cada produto de acordo com o banco de dados -->

			<% for (let i = 0; i < lista.length; i++) { %>
			
				<a class="produtoA" href="/produto/<%=lista[i].id_produto%>"> 
					<li class="card card-produto" >
						<img src="/imagens/produtos/s<%=lista[i].id_produto%>.jpg" class="card-img-top " alt="<%=lista[i].nome_produto%>" >
						<div class="card-body"  style="text-align: center;">
							<p class="card-text"><%=lista[i].nome_produto%><br>
								R$ <%=lista[i].valor_produto%>
							</p>   
						</div>
					</li>
				</a>

			<% } %>

		</ul>
	</div>
