<div>
    <div>
        <h1 class="tituloR">Editar Pedido</h1>
    </div>
    <div>
        <h3>Informações</h3>

        <div class="my-2">
            <div class="d-inline mr-5">
                Cliente: <%= pedido.nome_cliente%>
            </div>
        
            <div class="d-inline">
                Data do pedido: <%= pedido.data_pedido%>
            </div>
        </div>
            
        <div class="my-4">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th scope="col" class="col-1">Qtd</th>
                        <th scope="col" class="col-5">Produto</th>
                    </tr>
                </thead>
        
                <tbody>
                    <!-- Construção dos itens da tabela -->
                    <% const listaprod = pedido.produtos.toString().split(", ") %>
                    <% const listaqtd = pedido.qtdes.toString().split(", ") %>
                    <% for (let i = 0; i < listaprod.length; i++) { %>
                        <tr class="d-flex">
                            <th class="col-1"><%=listaqtd[i]%></th>
                            <td class="col-5"><%=listaprod[i]%></td>
                        </tr>
                    <% } %>
                    
                </tbody>
                <tfoot>
                    <tr class="d-flex">
                        <th scope="col" class="col-2">Valor total:</th>
                        <td class="col-4 text-right">R$ <%= pedido.valor_total.toString().replace(".",",") %></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>
    <section>
        <form id="formEditar" class="form-group">
            <label>
                <input type="radio" id="ativo1" name="ativo" value="1" <%= pedido.ativo ? "checked":"" %>/>
                <span class="design"></span>
                <span class="text">Pendente</span>
            </label>
            <label>
                <input type="radio" id="ativo2" name="ativo" value="0" <%= pedido.ativo ? "":"checked" %>/>
                <span class="design"></span>
                <span class="text">Concluído</span>
            </label>

            <div>
                
                <a class="btn btn-light" href="/pedido/listar">Voltar</a>
                <button type="submit" class="btn btn-success">Salvar</button>

            </div>
        </form>
    </section>
</div>

<div>
    <input id="lista" type="hidden" value="<%= pedido.produtos %>"/>
</div>

    <script type="text/javascript">
    const ped = $('#lista').val()

    $("#formEditar").validate({
        
        rules: {
            
            ativo: {
                required: true
            }
        },
        
        submitHandler: function () {
            
            if ($.active) {
                return;
            }
            
            let opcoes = {
                
                url: "/api/pedido/alterar",
                
                // Não precisa do cache para POST e PUT!
                method: "POST",
                
                data: $("#formEditar").serialize(),
                
                success: function (dadosDeRetorno) {
                    alert("Status alterado com sucesso!");
                    window.location.href='/pedido/listar';
                },
                
                error: function () {
                    alert("Ocorreu algum erro");
                }
                
            };
            $.ajax(opcoes);
            
        }
        
    });
</script>