<div>
    <div>
        <h1 class="tituloR">Editar Pedido</h1>
    </div>
    <div>
        <h3>Informações</h3>

        <div class="my-2">
            <div class="d-inline mr-5">
                Cliente: <%= pedido.nome_cliente%>
            </div>
        
            <div class="d-inline">
                Data do pedido: <%= pedido.data_pedido%>
            </div>
        </div>
            
        <div class="my-4">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th scope="col" class="col-1">Qtd</th>
                        <th scope="col" class="col-5">Produto</th>
                    </tr>
                </thead>
        
                <tbody>
                    <!-- Construção dos itens da tabela -->
                    <% const listaprod = pedido.produtos.toString().split(", ") %>
                    <% const listaqtd = pedido.qtdes.toString().split(", ") %>
                    <% for (let i = 0; i < listaprod.length; i++) { %>
                        <tr class="d-flex">
                            <th class="col-1"><%=listaqtd[i]%></th>
                            <td class="col-5"><%=listaprod[i]%></td>
                        </tr>
                    <% } %>
                    
                </tbody>
                <tfoot>
                    <tr class="d-flex">
                        <th scope="col" class="col-2">Valor total:</th>
                        <td class="col-4 text-right">R$ <%= pedido.valor_total.toString().replace(".",",") %></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>
    <section>
        <form id="formEditar" class="form-group">
            <input type="hidden" id="id_pedido" name="id_pedido" value="<%=(pedido ? pedido.id_pedido : 0) %>" />
            <label>
                <input type="radio" id="ativo1" name="ativo" value="1" <%= pedido.ativo ? "checked":"" %>/>
                <span class="design"></span>
                <span class="text">Pendente</span>
            </label>
            <label>
                <input type="radio" id="ativo2" name="ativo" value="0" <%= pedido.ativo ? "":"checked" %>/>
                <span class="design"></span>
                <span class="text">Concluído</span>
            </label>

            <div>
                
                <a class="btn btn-light" href="/pedido/listar">Voltar</a>
                <button type="submit" class="btn btn-success">Salvar</button>

            </div>
        </form>
    </section>
</div>

<script type="text/javascript">
    const ped = $('#lista').val()

    $("#formEditar").validate({
        
        rules: {
            
            ativo: {
                required: true
            }
        },
        
        submitHandler: function () {
            
            if ($.active) {
                return;
            }
            
            let opcoes = {
                
                url: "/api/pedido/alterar",
                
                // Não precisa do cache para POST e PUT!
                method: "POST",
                
                data: $("#formEditar").serialize(),
                
                success: function (dadosDeRetorno) {
                    alert("Status alterado com sucesso!");
                    window.location.href='/pedido/listar';
                },
                
                error: function () {
                    alert("Ocorreu algum erro");
                }
                
            };
            $.ajax(opcoes);
            
        }
        
    });
</script>

<%- contentFor("styles") %>
<style>
    section {
        width: 50%;
        min-height: inherit;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        position: relative;
    }
    
    section::before,
    section::after {
        content: "";
        display: block;
    
        border-radius: 100%;
    
        position: absolute;
    }

    label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    
        margin: 12px 0;
    
        cursor: pointer;
        position: relative;
    }

    input[type=radio] {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    /* .design */
    .design {
        width: 16px;
        height: 16px;
    
        border: 1px solid hsl(0, 0%, 14%);
        border-radius: 100%;
        margin-right: 16px;
    
        position: relative;
    }
    
    .design::before,
    .design::after {
        content: "";
        display: block;
    
        width: inherit;
        height: inherit;
    
        border-radius: inherit;
    
        position: absolute;
        transform: scale(0);
        transform-origin: center center;
    }
    
    .design:before {
        background:hsl(1, 100%, 68%);;
        opacity: 0;
        transition: .3s;
    }
    
    .design::after {
        background: hsl(1, 100%, 68%);
        opacity: .4;
        transition: .6s;
    }
    
    
    /* .text */
    .text {
        color: hsl(0, 0%, 14%);
        font-weight: bold;
    }
    
    
    /* checked state */
    input:checked+.design::before {
        opacity: 1;
        transform: scale(.6);
    }
    
    
    /* other states */
    input:hover+.design,
    input:focus+.design {
        border: 1px solid hsl(1, 100%, 68%);
    }
    
    input:hover+.design:before,
    input:focus+.design:before {
        background: hsl(1, 100%, 68%);
    }
    
    input:hover~.text {
        color: hsl(1, 100%, 68%);
    }
    
    input:focus+.design::after,
    input:active+.design::after {
        opacity: .1;
        transform: scale(2.6);
    }
</style>
