<h1 class="tituloR">Pedidos</h1>

<div class="tabela">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID do Pedido</th>
                <th scope="col">Data do Pedido</th>
                <th scope="col">Cliente</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor total</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <!-- Construção dos itens da tabela -->
            <% for (let i = 0; i < lista.length; i++) { %>
                <tr class="<%= (lista[i].ativo ? "pendente":"concluido") %>">
                    <th scope="row"><%=lista[i].id_pedido%></th>
                    <td><%=lista[i].data_pedido%></td>
                    <td><%=lista[i].nome_cliente%></td>
                    <td><%=lista[i].produtos%></td>
                    <td><%=lista[i].qtdes%></td>
                    <td>R$ <%=lista[i].valor_total%></td>
                    <td>
                        <a href="/pedido/alterar/<%=lista[i].id_pedido%>" class="btn btn-success btn-sm rounded-0"><i class="fa fa-edit"></i></a>
                        <button class="btn btn-danger btn-sm rounded-0" onclick="excluir('<%=lista[i].id_pedido%>')" ><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            <% } %>
            
        </tbody>
    </table>
</div>

<div id="plegenda">
    <span class="mx-2"> <div class="d-inline square pendente"></div> Pedidos pendentes </span>
    <span class="mx-2"> <div class="d-inline square concluido"></div> Pedidos concluídos </span>
</div>

<script type="text/javascript">
    function excluir(id) {
        if ($.active) {
            return
        }

        if(!confirm(`Excluir pedido ${id}?`)) {
            return
        }

        let opcoes = {
            url: "/api/pedido/excluir/" + id,
            method: 'GET',

            success: function(dadosDeRetorno){
                alert('Sucesso!')
                location.reload();
            },

            error: function() {
                alert('Algo deu errado...')
            }
        };

        $.ajax(opcoes);
    }
</script>