<h1 class="tituloR">Clientes</h1>

<div class="tabela">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">CEP</th>
                <th scope="col">Número da casa</th>
                <th scope="col">Complemento</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <!-- <th scope="col"></th> -->
            </tr>
        </thead>

        <tbody>
            <!-- Construção dos itens da tabela -->
            <% for (let i = 0; i < lista.length; i++) { %>
                <tr>
                    <th scope="row"><%=lista[i].id_cliente%></th>
                    <td><%=lista[i].nome_cliente%></td>
                    <td><%=lista[i].email%></td>
                    <td><%=lista[i].cep_cliente%></td>
                    <td><%=lista[i].num_casa%></td>
                    <td><%=lista[i].complemento%></td>
                    <td><%=lista[i].bairro_cliente%></td>
                    <td><%=lista[i].cidade_cliente%></td>
                    <td><%=lista[i].estado_cliente%></td>
                    <!-- <td>
                        <a href="/cliente/alterar/<%=lista[i].id_cliente%>" class="btn btn-primary"><i class="ires fa fa-cog"></i></a>
                        <button type="button" class="btn btn-danger" onclick="excluir('<%=lista[i].id_cliente%>')"><i class="ires fa fa-times"></i></a>
                    </td> -->
                </tr>
            <% } %>
            
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function excluir(id) {
        if ($.active) {
            return
        }

        if(!confirm(`Excluir cliente ${id}?`)) {
            return
        }

        let opcoes = {
            url: "/api/cliente/excluir/" + id,
            method: 'GET',

            success: function(dadosDeRetorno){
                alert('Sucesso!')
                location.reload();
            },

            error: function() {
                alert('Algo deu errado...')
            }
        };

        $.ajax(opcoes);
    }
</script>