<div>
    <div>
        <h1 class="tituloR">Editar Produto</h1>
    </div>
    <div>
        <form id="formEditar" class="form-group">
            <div>
                <p class="font-weight-bold">Id: <span><%=produto.id_produto%></span></p>
                <input type="hidden" id="id_produto"  class="  form-control" name="id_produto" value="<%=produto.id_produto%>"/>
            </div>

            <div class="form-group flex-nowrap " >
                <label  class="font-weight-bold" for="nome_produto">Nome: </label>
                <input type="text" id="nome_produto"  class="  form-control" name="nome_produto" value="<%=produto.nome_produto%>"/>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="valor_produto">Preço: </label>
                <input type="text" id="valor_produto"  class=" form-control" name="valor_produto" value="<%=produto.valor_produto%>"/>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="qtdeDisponivel">Quantidade disponível: </label>
                <input type="number" id="qtdeDisponivel"  class="  form-control" name="qtdeDisponivel" value="<%=produto.qtdeDisponivel%>"/>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="fabricacao">Fabricação: </label>
                <input type="month" id="fabricacao"  class=" form-control" name="fabricacao" value="2020-10"/>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="peso">Peso:  (em gramas)</label>
                <input type="text" id="peso"  class="  form-control" name="peso" value="<%=produto.peso%>"/>
            </div>
            <div class="form-group flex-nowrap">
                <label class="font-weight-bold"  for="desc_produto">Descrição: </label class="font-weight-bold">
                <textarea id="desc_produto" name="desc_produto"  class=" form-control" rows="5" cols="100"><%=produto.desc_produto%></textarea>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="utilidade">Utilidade: </label>
                <textarea id="utilidade" name="utilidade"  class=" form-control" rows="5" cols="100"><%=produto.utilidade%></textarea>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="composicao">Composição: </label>
                <textarea id="composicao" name="composicao"  class=" form-control" rows="5" cols="100"><%=produto.composicao%></textarea>
            </div>

            <div>
                
                <a class="btn btn-light" href="/produto/listar">Voltar</a>
                <button type="submit" class="btn btn-success">Salvar</button>

            </div>
        </form>
    </div>
</div>

<	<script type="text/javascript">
		
    $("#formEditar").validate({
        
        rules: {
            
            nome_produto: {
                required: true,
                minlength: 3,
                maxlength: 45
            },

            valor_produto: {
                required: true,
                min: 0
            },

            qtdeDisponivel: {
                number: true,
                min: 0
            },
            
        /*    fabricacao: {
                
            },
        */  
            peso: {
                number: true,
                minlength: 1,
                maxlength: 4
            },

            desc_produto: {
                maxlength: 1000
            },

            utilidade: {
                maxlength: 1000
            },

            composicao: {
                maxlength: 1000
            }
        },
        
        submitHandler: function () {
            
            if ($.active) {
                return;
            }
            
            let opcoes = {
                
                url: ("/api/produto/alterar"),
                
                // Não precisa do cache para POST e PUT!
                method: "POST",
                
                data: $("#formEditar").serialize(),
                
                success: function (dadosDeRetorno) {
                    alert("Sucesso! " + dadosDeRetorno);
                },
                
                error: function () {
                    alert("Deu ruim! :(");
                }
                
            };
            
            $.ajax(opcoes);
            
        }
        
    });
</script>
