<div>
    <div>
        <h1 class="tituloR"><%= (produto ? "Editar" : "Criar")%> Produto</h1>
    </div>
    <div>
        <form id="form" class="form-group">
            <div>
                <% if(produto) { %>
                    <p class="font-weight-bold">Id: <span> <%= produto.id_produto %> </span></p>
                <% } %>
                
                <input type="hidden" id="id_produto"  class="  form-control" name="id_produto" value="<%= (produto ? produto.id_produto : '')%>"/>
            </div>

            <div class="form-group flex-nowrap " >
                <label  class="font-weight-bold" for="nome_produto">Nome: </label>
                <input type="text" id="nome_produto"  class="  form-control" name="nome_produto" value="<%= (produto ? produto.nome_produto : '')%>"/>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="valor_produto">Preço: </label>
                <input type="text" id="valor_produto"  class=" form-control" name="valor_produto" value="<%= (produto ? produto.valor_produto : '')%>"/>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="qtdeDisponivel">Quantidade disponível: </label>
                <input type="number" id="qtdeDisponivel"  class="  form-control" name="qtdeDisponivel" value="<%= (produto ? produto.qtdeDisponivel : '')%>"/>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="fabricacao">Fabricação: </label>
                <input type="month" id="fabricacao"  class=" form-control" name="fabricacao" value="<%= produto ? produto.fabricacao:'' %>"/>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="peso">Peso:  (em gramas)</label>
                <input type="text" id="peso"  class="  form-control" name="peso" value="<%= (produto ? produto.peso : '')%>"/>
            </div>
            <div class="form-group flex-nowrap">
                <label class="font-weight-bold"  for="desc_produto">Descrição: </label class="font-weight-bold">
                <textarea id="desc_produto" name="desc_produto"  class=" form-control" rows="5" cols="100"><%= (produto ? produto.desc_produto : "")%></textarea>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="utilidade">Utilidade: </label>
                <textarea id="utilidade" name="utilidade"  class=" form-control" rows="5" cols="100"><%= (produto ? produto.utilidade : "")%></textarea>
            </div>
            <div class="form-group flex-nowrap">
                <label  class="font-weight-bold" for="composicao">Composição: </label>
                <textarea id="composicao" name="composicao"  class=" form-control" rows="5" cols="100"><%= (produto ? produto.composicao : "")%></textarea>
            </div>
            <div class="form-group flex-nowrap">
                <label class="font-weight-bold" for="imagem">Alterar imagem do produto: </label>
                <input id="imagem" name="imagem" type="file" class="" accept="image/jpeg"/>
            </div>

            <div>
                
                <a class="btn btn-light" href="/produto/listar">Voltar</a>
                <button type="submit" class="btn btn-success">
                    <%= (produto ? "Salvar" : "Criar") %>
                </button>

            </div>
        </form>
    </div>
</div>

<	<script type="text/javascript">
    // Quando existir um id no campo hidden quer dizer que estamos salvando, não criando
	let valorDoId = $("#id_produto").val(); // .val() sempre retorna string!
    let valorDoIdInt = parseInt(valorDoId);

	let criando;

	if (valorDoIdInt) {
		criando = false;
	} else {
		criando = true;
	}
    

    $("#form").validate({
        
        rules: {
            
            nome_produto: {
                required: true,
                minlength: 3,
                maxlength: 45
            },

            valor_produto: {
                required: true,
                min: 0
            },

            qtdeDisponivel: {
                number: true,
                min: 0
            },
          
            peso: {
                number: true,
                minlength: 1,
                maxlength: 4
            },

            desc_produto: {
                maxlength: 1000
            },

            utilidade: {
                maxlength: 1000
            },

            composicao: {
                maxlength: 1000
            },

            imagem: {
                //required: criando
            }
        },
        
        submitHandler: function () {
            
            if ($.active) {
                return;
            }
            
            let opcoes = {
                
                url: (criando ? "/api/produto/criar" : "/api/produto/alterar"),
                
                // Não precisa do cache para POST e PUT!
                method: "POST",
                
                data: new FormData(form),
				processData: false,
				contentType: false,

                //data: $("#formEditar").serialize(),
                
                success: function (dadosDeRetorno) {
                    if (criando) {
						// Primeiro limpa todos os campos
						$("#form").trigger("reset");

						// Depois reseta a validação dos campos
						$("#form").validate().resetForm();
					}

                    alert("Sucesso! " + dadosDeRetorno);
                },
                
                error: function () {
                    alert("Deu ruim! :(");
                }
                
            };
            
            $.ajax(opcoes);
            
        }
        
    });
</script>
